.contact {
  margin-left: 144px;
  margin-top: 57px;
  font-size: 25px;
  color: #5863e3;
}
.q {
  width: 371px;
  height: 112px;
  font-size: 49px;
  margin-left: 144px;
  margin-top: 7px;
  color: #000000;
}

input[type="text1"],
select {
  margin-left: 144px;
  margin-top: 57px;
  width: 756px;
  height: 298px;
  border: 1px solid #ccc;
}

input[type="text"],
select {
  width: 370px;
  height: 59px;
  border: 1px solid #ccc;
  margin-top: 13px;
  margin-left: 20px;

  display: flex;
}

input[type="submit"],
select {
  width: 370px;
  height: 59px;
  background-color: #5968f4;
  margin-top: 13px;
  margin-left: 20px;
  display: flex;
}

.bb {
  display: inline-block;
}
.bbb {
  display: inline-block;

  margin-left: 20px;
}
.k {
  display: flex;
  margin-left: 250px;
  margin-top: 51px;
  font-size: 20px;
  color: #000000;
}
.kk {
  display: flex;
  margin-left: 220px;
  margin-top: 8px;
  color: #4e4d54;
}
.kkk {
  display: flex;
  margin-left: 145px;
  margin-top: 8px;
}

.kkkk {
  display: flex;
  margin-left: 200px;
  margin-top: 8px;
}
.j {
  display: flex;
  margin-left: 210px;
  margin-top: 8px;
  color: #4e4d54;
}
.jj {
  display: flex;
  margin-left: 127px;
  margin-top: 8px;
}
.jjj {
  display: flex;
  margin-left: 200px;
  margin-top: 8p;
}
.qq {
  width: 548px;
  height: 112px;
  font-size: 49px;
  margin-left: 144px;
  margin-top: 7px;
  color: #000000;
}
.img {
  display: flex;
  width: 373px;
  height: 373px;
  margin-left: 61px;
  margin-top: 55px;
}
.y {
  display: flex;
  width: 373px;

  height: 373px;
  margin-left: 99px;
}
.yy {
  display: flex;
  width: 373px;
  height: 373px;
  margin-left: 100px;
}
.backgraund {
  width: 100%px;
  height: 372px;
  background-color: #000000;
}
.g {
  font-size: 26px;
  display: flex;
  color: #ccc;
  margin-left: 143px;
  margin-top: 63px;
  padding: 63px 143px;
}
.z {
  margin-left: 331px;
}
.zz {
  margin-left: 110px;
}
.zzz {
  margin-left: 150px;
}
.gg {
  font-size: 21px;
  display: flex;
  color: #ccc;
  margin-left: 143px;

  padding: 8px 143px;
}
.w {
  width: 295px;
  color: #99999a;
}
.ww {
  margin-left: 210px;
  margin-top: -32px;
  color: #5863e3;
}

.www {
  margin-left: 170px;
  margin-top: -32px;
  color: #5863e3;
}
.wwww {
  margin-left: 130px;
  margin-top: -32px;
}
.a {
  margin-left: 490px;
  margin-top: -120px;
  color: #5863e3;
}
.aa {
  margin-left: 140px;
  margin-top: -120px;
  color: #5863e3;
}
.aaa {
  margin-left: 130px;
  margin-top: -120px;
}
.o {
  margin-left: 480px;
  margin-top: -105px;
  color: #5863e3;
}
.oo {
  margin-left: 115px;
  margin-top: -105px;
  color: #5863e3;
}
.ooo {
  margin-left: 100px;
  margin-top: -105px;
}
.f {
  margin-left: 270px;
}
